
.html{
    font-size: 62.5%;
    box-sizing: border-box;
}

@media screen and (min-width: 900px) {




    .content{
        background: white;
    }



    .title {
        font-size: 3rem;
        text-decoration: underline;
        text-underline: black;
    }

    .quicklink {
        text-align: left;
        background-color: aliceblue;
        width: 50%;
        margin: 20px;
    }

    .table-hover{
        background-color: aliceblue;
    }

    .link {
        padding: 10px;
        font-size: 1.1rem;
        border-top: 1px solid white;
    }

  #link:hover{
      cursor: pointer;
  }

    .content {
        width: 900px;
        text-align: center;
        margin: auto;
    }

    .subheading {
        font-size: 2rem;
        text-decoration: underline;
        text-underline: black;
    }

    .paragraph {
        border: 1px solid lightgrey;
        padding: 10px;
        margin: 20px;
        background: lightgrey;
    }

}

@media screen and (max-width: 900px) {

    .title{
        text-align: center;
    }

  .quicklink{
      padding: 20px;
      display: block;
      background: lightgrey;
  }


    link:hover{
      cursor: pointer;
  }

  .paragraph{
      background: lightgrey;
  }

}