#page{
    background-color: black;
}




#pagetitle{
    font-family: "Lobster", sans-serif;
    font-size: 10.0vw;
    background-color: black;
    color: white;

}

#resultsTitle{
    font-family: "Lobster", sans-serif;
}

#title2{
    font-family: "Lobster", sans-serif;
    font-size: 3rem;
}

#title3{
    font-family: "Lobster", sans-serif;
    font-size: 2rem;
}

#title4{
    font-family: "Lobster", sans-serif;
    font-size: 2rem;
}

#enterbutton{
    font-family: "Lobster", sans-serif;
}

#enterbutton:hover{
    background-color: white;
    color: black;
    transition: .35s ease-in;
    -webkit-transform: scale(1.2);
}

#searchbutton{
    font-family: "Lobster", sans-serif;
    background-color: black;
    color: white;
}

#searchbutton:hover{
    background-color: white;
    color: black;
    transition: .35s ease-in;
    -webkit-transform: scale(1.2);
}


#registerButton{
    font-family: "Lobster", sans-serif;
    background-color: black;
    color: white;
}

#registerButton:hover {
    background-color: white;
    color: black;
    transition: .35s ease-in;
    -webkit-transform: scale(1.2);
}



#content{
    background-image: linear-gradient(white, lightgrey);
}

.glow {
    color: yellow;
}


#checkin {
    background-image: linear-gradient(white, lightgrey);
}

.checked {
    color: orange;
}

.nav-item:hover{
    -webkit-transform: scale(1.2);
}

#nav6{
    color: lightgrey;
}








.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #191919;
;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: white;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: white;
    color: black;
}














