
.html{
    font-size: 62.5%;
    box-sizing: border-box;
}




body{
    font-family: sans-serif;
}

.content{
    width: 1000px;
    padding: 10px;
    margin: auto;
}

.column{
    float: left;
    width: 50%;
    display: inline-block;
}

.bigdisplay{
    max-height: 95%;
    max-width: 95%;
    float: inherit;

}


.thumb{
    float: left;
    max-width: 25%;
    cursor: pointer;


}

.thumb:hover{
    opacity: 50%;
}


.description{
    width: 50%;
    float: left;
}

.gallery{
    display: inline-block;
    padding: 50px;
}

.table{
    width: 100%;

}

th{
    text-align: left;
    border-top: 1px lightgrey;
    border-bottom: 1px lightgrey;
    border-style: solid none solid none;
    padding: 20px;
}

td{
    text-align: left;
    border-top: 1px lightgrey;
    border-bottom: 1px lightgrey;
    border-style: solid none solid none;
    padding: 20px;
}




button{
    background: deepskyblue;
    color: white;
    width: 25%;
    border-style: groove;
    border-color: cornflowerblue;
    box-shadow: 0 5px darkblue;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
}

button:hover {
    color: cornflowerblue;
    background-color: lightgrey;
    transition: .25s ease-in;
    cursor: pointer;
}

button:active{
    transform: translateY(4px);
}



.date{
    font-size: 0.8rem;
}

.headings{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 20px 15px;
    margin: 70px 10px

}

.check1{
    border: 1px solid lightgrey;
    padding: 20px;
}

.check2{
    border: 1px solid lightgrey;
    padding: 20px;
    margin-top: 20px
}

@media screen and (max-width: 768px){
    .content{
        width: 80%;
        display: block;


    }

    .Gallery{
        display: block;
        align-content: center;

    }

    .column{
        padding: 60px;
    }

    .description{
        display: block;
        position: center;
        float: none;
        padding: 60px;
    }

    button{
        width: 100%;
    }










}