#page{
    background-image: linear-gradient(white, black);
}

#title{
    font-family: "American Typewriter", sans-serif;
    font-size: 8rem;
}

#title2{
    font-family: "American Typewriter", sans-serif;
    font-size: 4rem;
}

#title3{
    font-family: "American Typewriter", sans-serif;
    font-size: 2rem;
}

#title4{
    font-family: "American Typewriter", sans-serif;
    font-size: 2rem;
}

#checkinBtn:hover{
    background-color: green;
    transition: .25s ease-in;

}
#content{
    background-color: white;
}
