#page{
    background-image: linear-gradient(white, black);
}

#pagetitle{
    font-family: "American Typewriter", sans-serif;
    font-size: 4rem;

}

#title2{
    font-family: "American Typewriter", sans-serif;
    font-size: 3rem;
}

#title3{
    font-family: "American Typewriter", sans-serif;
    font-size: 2rem;
}

#title4{
    font-family: "American Typewriter", sans-serif;
    font-size: 2rem;
}

#enterbutton:hover{
    background-color: white;
    color: black;
    transition: .35s ease-in;
    -webkit-transform: scale(1.2);
}

#searchbutton:hover{
    background-color: white;
    color: black;
    transition: .35s ease-in;
    -webkit-transform: scale(1.2);
}
#content{
    background-image: linear-gradient(white, lightgrey);
}

.glow {
    color: yellow;
}


#checkin {
    background-image: linear-gradient(white, lightgrey);
}

.checked {
    color: orange;
}

.nav-item:hover{
    -webkit-transform: scale(1.2);
}

#nav6{
    color: lightgrey;
}




