


*{
    box-sizing: border-box;
}

.content{
    text-align: center;
}

input{
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

select{
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

button{
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

button:hover{
    background-color: green;
    color: white;
    cursor: pointer;
    transition: 0.8s;
}